* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    background: url(../images/board-background.webp) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    color: brown;
    font-weight: bold;
}

a:hover {
    color:black;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    text-align: center;
    max-width: 80%;
    margin: auto;
}

.container {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 10px 30px;
    margin: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 5px solid black;
}

.header-ul {
    justify-content: space-around;
    list-style-type: none;
}

.header-ul>li {
    font-weight: bold;
    margin: 0 10px;
}

.header-ul>li>a {
    text-decoration: none;
    font-size: 1.3rem;
}

.title {
    text-align: center;
}

.content-title {
    padding: 20px 30px;
    background-color: rgba(97, 224, 230, 1);
    filter: drop-shadow(0px 4px 3px black)
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(50, 48, 48, 1);
    color: white;
}

.note {
    padding: 30px 50px;
    background-color: rgb(235, 150, 13);
    filter: drop-shadow(0px 4px 3px black)
}

.listing {
    margin: 20px;
    max-width: 20%;
}

.buttons {
    justify-content: right;
}

.buttons>a {
    margin: 0 10px;
}

.edit {
    color: blue;
    text-decoration: none;
}

.link-button {
    background-color: transparent;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    color: red;
}

.link-button:hover {
    color: black;
}